<h2>Fornecedor <%= @supplier.brand_name %></h2>
<h3><%= @supplier.corporate_name %></h3>

<dl>
  <dt>Documento:</dt>
  <dd><%= @supplier.registration_number %></dd>
  <dt>Endereço:</dt>
  <dd><%= @supplier.full_address %></dd>
  <dt>E-mail:</dt>
  <dd><%= @supplier.email %></dd>
</dl>

<div>
  <%= link_to 'Editar', edit_supplier_path(@supplier) %>
</div>
<div>
  <%= link_to 'Voltar', root_path %>
</div>