<h2>Galpão <%= @warehouse.code %></h2> 
<h3><%= @warehouse.description %></h3>
<div>
  <strong>Nome:</strong> <%= @warehouse.name %>
  <strong>Cidade:</strong> <%= @warehouse.city %>
  <strong>Área:</strong> <%= @warehouse.area %> m²
  <strong>Endereço:</strong> <%= @warehouse.address %> <strong>CEP:</strong> <%= @warehouse.cep %>
</div>

<div>
  <%= link_to 'Editar', edit_warehouse_path(@warehouse.id) %>
  <%= button_to 'Remover', warehouse_path(@warehouse.id), method: :delete %>
</div>

<div>
  <h3>Itens em Estoque</h3>
  <% @stocks.each_pair do |pm, quantity| %>
    <%= quantity %> x <%= pm.sku %>
  <% end %>
</div>

<div>
  <%= link_to 'Voltar', root_path %>
</div>